.brawlers-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 20px;
}
.brawlers-info ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
  }

  
.brawler-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.brawler-details {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.brawler-icon-name {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.brawler-icon-name img {
    margin-right: 10px;
    
}

.brawler-icon-name h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.win-rate {
    font-size: 2rem;
    margin-top: 5px;
    font-weight: bold;
    background-color: #ddd;


}

.trophy-chart-brawler {
    width: 100%;
    max-width: 800px; 
}
.error {
    color: red;
  }